.dc-chart .pie-slice {
    fill: white;
    font-size: 11px;
    cursor: pointer;
}

.reset {
	font-size: 10px;
	text-decoration: underline;
}

/*table*/

#songs-data-table {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
#songs-data-table td, #songs-data-table th {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	width: 20%;
}
#songs-data-table th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-weight: bolder;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
#songs-data-table td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;

}

.dc-table-label {
	font-size: 30px;
	padding: 4px 7px 2px;
	vertical-align: top;
	color: white;
	background-color: #3d4a57;
}