<!DOCTYPE html>
<html>
<head>
  <title>Top Songs to Hear Before You Die</title>
  <link rel="stylesheet" href="../../static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="../../static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="../../static/lib/css/dc.css">
  <link rel="stylesheet" href="../../static/css/custom-style.css">
  <script src="https://use.fonticons.com/3385f115.js"></script>
</head>
<body class="application">
  
   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <i class="icon icon-music"></i>
        </a>
        <a class="navbar-brand" href="./">Top Songs to Hear Before You Die</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-left">
          <li>
          <a href="#aboutModal" role="button" data-toggle="modal">About</a>
          </li>
          <li><a href="https://github.com/cesarvelandia/top-songs">Source Code</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
          <a href="javascript:resetAll();" class="btn btn-secondary btn-sm">
          <i class="icon icon-check"></i> Reset All
          </a> </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Theme distribution
            <a class="btn btn-primary btn-xs" href="javascript:themesChart.filterAll(); dc.renderAll();">reset</a>
          </div>
          <div class="chart-stage">
            <div id="themes-pie-chart"></div>
        </div>
          <div class="chart-notes">
            Click on slices to filter out by song themes
          </div>
        </div>
        </div>

      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Number of top songs over time
            <a class="btn btn-primary btn-xs" href="javascript:yearlyChart.filterAll(); dc.renderAll();">reset</a>

          </div>
          <div class="chart-stage">
            <div id="grid-1-1">
              <div id="yearly-bar-chart">
              </div>
            </div>
          </div>
          <div class="chart-notes">
            Drag your cursor accross the screen to filter by years
          </div>
        </div>
      </div>

      </div> <!-- end row -->

    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Top Artists [A-Z]
            <a class="btn btn-primary btn-xs" href="javascript:artistChart.filterAll(); dc.renderAll();">reset</a>
          </div>
          <div class="chart-stage">
            <div id="artist-row-chart">
              
            </div>
          </div>
          <div class="chart-notes">
            Select an artist or multiple artists to filter upper charts 
            </div>
          </div>
      </div>
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            Most played artists (Average song playcount vs. total artist song plays)
            <a class="btn btn-primary btn-xs" href="javascript:playcountChart.filterAll(); dc.renderAll();">reset</a>
          </div>
          <div class="chart-stage">
            <div id="playcount-bubble-chart"></div>
          </div>
          <div class="chart-notes">
            Click a bubble to filter other charts and table by artist
            
          </div>
        </div>
      </div>
  </div>

  <div class="row">
  <div class="col-sm-12">
    <div class="chart-wrapper">
      <div class="chart-title">
        Song samples by decade (up to 50)
      </div>
      <div class="chart-stage">
      <table id="songs-data-table">
      <thead>
      <tr class="header">
        <th>Year(s)</th>
        <th>Song Title</th>
        <th>Artist</th>
        <th>Theme</th>
        <th>Total plays &darr;</th>
        <th>Total listeners</th>
      <thead>
      </table>
      <div class="chart-notes">
        
      </div>
    </div>
  </div>
  </div>

    <div id="aboutModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">About this project</h4>
                </div>
                <div class="modal-body">

                <h4>
                  The data sources
                </h4>
                    <p>The data sources for this visualization are <a href="https://opendata.socrata.com/Fun/Top-1-000-Songs-To-Hear-Before-You-Die/ed74-c6ni">The Guardian's top 1000 songs to hear before you die </a>dataset for the track listing and the <a href="www.last.fm/api">last.fm Open API</a> for the play statistics. Play counts and listener statistics were retrieved programatically with code included in this project.</p>
                    
                <hr></hr>
                <h4>
                  Technologies used
                </h4>
                    <p>The frontend was built using <a href="https://github.com/dc-js/dc.js">dc.js</a> (charting), <a href="https://square.github.io/crossfilter/">crossfilter.js</a> , <a href="http://d3js.org">d3.js</a>, and others. The backend was built in <a href="http://python.org"> Python</a>, using the <a href="http://flask.pocoo.org">Flask</a> microframework and <a href="http://mongodb.com"> MongoDB</a>.</p>
                    <br></br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



  </div>
  
  <script src="../../static/lib/js/jquery.min.js"></script>
  <script src="../../static/lib/js/bootstrap.min.js"></script>
  <script src="../../static/lib/js/crossfilter.js"></script>
  <script src="../../static/lib/js/d3.js"></script>
  <script src="../../static/lib/js/dc.js"></script>
  <script src="../../static/lib/js/queue.js"></script>

  <script src="../../static/lib/js/keen.min.js"></script>
  <script src='../../static/js/visualization.js' type='text/javascript'></script>
</body>
</html>
